ul,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
}

.header-links ul {
    display: flex;
}

.s1,
.s4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s2,
.s3 {
    text-align: center;
}

.s2-content {
    display: flex;
}

.quote-author {
    display: flex;
    flex-flow: row-reverse;
}